  <div class="posts">
    <div class="post borderpurple darkbackground">
      <div class="section"> 
        <div class="row">
          <div class="col-md-3 textcolorwhite"><h2>{{user.username}}</h2></div>
          <div class="col-md-6"></div>
          <div class="col-md-3 textcolorwhite">{{createdAt}}</div>
        </div>
        <div>
          <p1 class="textcolorwhite">{{description}}</p1>
        </div>
        <div class="row">
          <div class="col-md-9"></div>
          <a href="/post/{{id}}" class="textcolorpurple col-md-3">Comments</a>
        </div>
      </div>
    </div>
  </div>
