<div id="sessionuser" style="display:none">{{sessionuser}}</div>
<div class="column">
  <article>
    <div>
      <div class="content textcolorwhite text-center">
        <p>
          <h1><strong>{{post.user.username}}</strong></h1>
          <br>
          {{post.description}}
          <br>
        </p>
      </div>

      <article>
    
        <div class="text-center">
          <div class="field">
            <p>
              <textarea class="textarea w-100" placeholder="Add a comment..." id="new-comment-text"></textarea>
            </p>
          </div>
          <div class="field">
            <p>
              <button class="button" id="new-comment-btn">Post comment</button>
            </p>
          </div>
        </div>
      </article>

      <div class="columns is-mobile">
        <div class="column">
          <div class="columns centerall">
          </div>
 
        <div class="column">
          <div class="columns">
            <div class="column is-half">
              {{#each post.comments}}
              <div class="card">
                <div>
                  {{>comment-details}}
                </div>
                {{/each}}

                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>
  </article>
</div>

  <script src="/js/add-comment.js"></script>