  <div class="columns">
    <div class="column">
      <section class="hero">
        <div class="hero-body">
          <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
              <h3 class="title has-text-black">Login</h3>
              <hr class="login-hr">
              <p class="subtitle has-text-black">Please login to proceed.</p>
              <div class="box">
                <figure class="avatar">
                  <i class="fa-solid fa-3x fa-user-astronaut"></i>
                </figure>
                <form>
                  <div class="field">
                    <div class="control">
                      <label for="email-login">EMAIL</label>
                      <input id="email-login" class="input is-large" type="email" placeholder="e.g example@test.com"
                        autofocus="">
                    </div>
                  </div>

                  <div class="field">
                    <div class="control">
                      <label for="password-login">PASSWORD</label>
                      <input id="password-login" class="input is-large" type="password" placeholder="*******">
                    </div>
                  </div>
                  <div class="field">
                    <label class="checkbox">
                      <input type="checkbox">
                      Remember me
                    </label>
                  </div>
                  <button id="login-btn" type="click" class="button is-block is-info is-large is-fullwidth">Login <i
                      class="fa fa-sign-in" aria-hidden="true"></i></button>
                </form>
              </div>
              <p class="has-text-grey">
                <a href="../">Sign Up</a> &nbsp;路&nbsp;
                <a href="../">Forgot Password</a> &nbsp;路&nbsp;
                <a href="../">Need Help?</a>
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="column">
      <section class="hero">
        <div class="hero-body">
          <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
              <h3 class="title has-text-black">Signup</h3>
              <hr class="login-hr">
              <p class="subtitle has-text-black">Please signup to proceed.</p>
              <div class="box">
                <figure class="avatar">
                  <i class="fa-solid fa-3x fa-user-astronaut"></i>
                </figure>
                <form>
                  <div class="field">
                    <div class="control">
                      <label for="username-signup">Username</label>
                      <input id="username-signup" class="input is-large" type="username" placeholder="e.g ninja"
                        autofocus="">
                    </div>
                  </div>
                  <div class="field">
                    <div class="control">
                      <label for="email-signup">EMAIL</label>
                      <input id="email-signup" class="input is-large" type="email" placeholder="e.g example@test.com"
                        autofocus="">
                    </div>
                  </div>

                  <div class="field">
                    <div class="control">
                      <label for="password-signup">PASSWORD</label>
                      <input id="password-signup" class="input is-large" type="password" placeholder="*******">
                    </div>
                  </div>
                  <button id="signup-btn" type="click" class="button is-block is-info is-large is-fullwidth">Signup <i
                      class="fa-solid fa-person-through-window" aria-hidden="true"></i></button>
                </form>
              </div>
              <p class="has-text-grey">
                <a href="../">Sign Up</a> &nbsp;路&nbsp;
                <a href="../">Forgot Password</a> &nbsp;路&nbsp;
                <a href="../">Need Help?</a>
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>


  <script src="./js/login.js"></script>