  <div>
    <div>
      <section>
        <div class="container borderpurple">
          <h3>Login</h3>
            <form>
              <div>
                <label for="email-login">EMAIL</label>
                <input id="email-login" class="input is-large" type="email" placeholder="test@gmail.com">
              </div>
              <div>
                <div>
                  <label for="password-login">PASSWORD</label>
                  <input id="password-login" class="input is-large" type="password" placeholder="*******">
                </div>
              </div>
              <button id="login-btn" type="click" class="button">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button>
            </form>
        </div>
      </section>
    </div>
    <div>
      <section>
        <div class="border border-info">
          <h3>Signup</h3>
          <form>
            <div>
              <label for="username-signup">Username</label>
              <input id="username-signup" class="input is-large" type="username" placeholder="name">
            </div>
  
            <div>
              <label for="email-signup">EMAIL</label>
              <input id="email-signup" class="input is-large" type="email" placeholder="test@gmail.com">
            </div>

            <div>
              <label for="password-signup">PASSWORD</label>
              <input id="password-signup" class="input is-large" type="password" placeholder="password">
            </div>
            <button id="signup-btn" type="click" class="button">Signup <i class="button" aria-hidden="true"></i></button>
          </form>
        </div>
      </section>
    </div>
  </div>


  <script src="./js/login.js"></script>