<div id="sessionuser" style="display:none">{{sessionuser}}</div>
{{#if loggedIn}}
<section class="container-fluid">

  <div class="row">
    <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <form class="make-post-form w-100">
          <div>
            <label class="label textcolorpurple h-25" for="post-content"><h2>Description</h2></label>
            <div>
              <textarea class="textarea borderpurple w-100" id="post-content" name="post-content" placeholder="This is cool: link to something"></textarea>
            </div>
          </div>
          <div>
            <div>
              <button type="submit" class="button  borderpurple">Make Post</button>
            </div>
          </div>
        </form>
      </div>
    <div class="col-lg-2"></div>
  </div>

</section>
{{/if}}

<script src="/js/add-post.js"></script>